<%= search_form(@topic.name)%>

<% if @topic.museums.size > 0 %>
	
	<p class="result successful">There's <%= pluralize_with_a(@topic.museums_count, "museum") %> about that.</p>
	
	<% if @topic.museums.size > 1 %>
		<ul>
			<% @topic.museums.each do |museum| %>
				<li><%= museum.name %></li>
			<% end %>
		</ul>
	<% else %>	
		<% @museum = @topic.museums.first %>
	
		<h2><%= @museum.name %></h2>

		<%= address_format(@museum.building, @museum.street, @museum.town, @museum.post_code) %>
		
		<% if @museum.website %>
			<p><%= link_to "Visit their website", @museum.website, :class => :website %>
		<% end %>
			
	<% end %>

<% else %>

	<p class="result unsuccessful">There's no museum about that.</p>

<% end %>


<p class="views"><%= pluralize(@topic.views, "view") %>.</p>