<h1>Editing museum</h1>

<%= render "fields", :locals => {:museum => @museum} %>


	<h2>Topics:</h2>

	<ul>
		<% @museum.classifications.each do |classification| %>
			<li><%= classification.topic.name %> <%= link_to "x", classification_path(classification.id), :method => :delete %></li>
		<% end %>
			<li>Add topic: <% form_for(Classification.new) do |f| %>
					<%= f.hidden_field :museum_id, :value => @museum.id %>
					<%= f.collection_select :topic_id, @topics, :id, :name %>
					<%= f.submit "Add" %>
				<% end %>
			</li>
			<li>Add topic: <% form_for(Classification.new) do |f| %>
					<%= f.hidden_field :museum_id, :value => @museum.id %>
					<%= text_field :topic, :name %>
					<%= f.submit "Add" %>
				<% end %>
			</li>
	</ul>

<%= link_to 'Show', @museum %> |
<%= link_to 'Back', museums_path %>